name: CI

on:
  push:
    branches:
      - master
    pull_requuest:
      branches:
        - master

jobs:
  check:
    name: Build and test
    runs-on: ubuntu-latest
    container: archlinux:latest
    strategy:
      fail-fast: false
      matrix:
        compiler: [gcc, clang]
        include:
          - compiler: gcc
            cxx_compiler: g++
          - compiler: clang
            cxx_compiler: clang++
    env:
      CC: ${{ matrix.compiler }}
      CXX: ${{ matrix.cxx_compiler }}
    steps:
      - name: Install dependencies
        run: |
          pacman -Syu --noconfirm base-devel clang cmake ninja extra-cmake-modules libuv anthy
      - uses: actions/checkout@v4
        with:
          repository: fcitx/fcitx5
          path: fcitx5
      - name: Build and Install fcitx5
        uses: fcitx/github-actions@cmake
        with:
          path: fcitx5
          cmake-option: |
            -DENABLE_KEYBOARD=Off -DENABLE_X11=Off -DENABLE_WAYLAND=Off -DENABLE_ENCHANT=Off -DENABLE_DBUS=Off -DENABLE_SERVER=Off -DENABLE_EMOJI -DUSE_SYSTEMD=Off
      - uses: actions/checkout@v4
        with:
          path: fcitx5-anthy
      - name: Init CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: cpp
          source-root: fcitx5-anthy
      - name: Build and Install fcitx5-anthy
        uses: fcitx/github-actions@cmake
        with:
          path: fcitx5-anthy
      - name: Test
        run: |
          ctest --test-dir fcitx5-anthy/build
      - name: CodeQL Analysis
        uses: github/codeql-action/analyze@v2
